<h1>Ordenes de compra</h1>
<div class="clear">
    <table class="table" style="padding: 15x">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id oc</th>
                <th scope="col">Numero de OC</th>
                <th scope="col">Fecha creacion</th>
                <th scope="col">Id Comprador</th>
                <th scope="col">Fecha de Aprobacion</th>
                <th scope="col">Total OC</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of purchaseOrder; let i=index">
                <td>{{order.poHeaderId}}</td>
                <td>{{order.orderNumber}}</td>
                <td>{{order.creationDate}}</td>
                <td>{{order.buyerId}}</td>
                <td>{{order.approvedDate}}</td>
                <td>{{order.totalAmount}}</td>
            </tr>
        </tbody>
    </table>
</div>